{"openapi": "3.1.0", "info": {"title": "Revyl API", "description": "Revyl API", "version": "1.0.0"}, "servers": [{"url": "https://backend.revyl.ai", "description": "Production"}], "paths": {"/api/v1/binaries/test-app/upload-url": {"post": {"tags": ["App Binaries"], "summary": "Get App Binary Upload Url", "description": "Generate a pre-signed URL for uploading an app binary file and optionally update the test record immediately.\nAlso attempts to extract the package identifier from the uploaded file for iOS apps.", "operationId": "get_app_binary_upload_url_api_v1_binaries_test_app_upload_url_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppBinaryUploadRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppBinaryUploadResponseWithPackageId"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/binaries/test-app/download-url": {"post": {"tags": ["App Binaries"], "summary": "Get App Binary Download Url", "description": "Generate a presigned URL for downloading an app binary file", "operationId": "get_app_binary_download_url_api_v1_binaries_test_app_download_url_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppBinaryDownloadRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppBinaryDownloadResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/binaries/test-app/delete": {"delete": {"tags": ["App Binaries"], "summary": "Delete App Binary", "description": "Delete an app binary file from S3 and clear its reference in the test record.", "operationId": "delete_app_binary_api_v1_binaries_test_app_delete_delete", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppBinaryDeleteRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Delete App Binary Api V1 Binaries Test App Delete Delete"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/binaries/test-app/extract-package-id": {"post": {"tags": ["App Binaries"], "summary": "Extract Package Id", "description": "Extract bundle ID from uploaded iOS app binary.\nThis should be called after the file upload completes.", "operationId": "extract_package_id_api_v1_binaries_test_app_extract_package_id_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExtractPackageIdRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExtractPackageIdResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/entity/users/get_user_uuid": {"get": {"tags": ["User"], "summary": "Get User Uuid Endpoint", "description": "Get the user id of the current user.\n\nSupports both regular user authentication and service key authentication.\nFor service keys, returns AuthInfo with user_id=\"service\".", "operationId": "get_user_uuid_endpoint_api_v1_entity_users_get_user_uuid_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthInfo"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/entity/users/get_user_tests_and_history_count": {"get": {"tags": ["User"], "summary": "Get User Tests And History Count Endpoint", "description": "Get test statistics with week-over-week comparisons for the user/org.", "operationId": "get_user_tests_and_history_count_endpoint_api_v1_entity_users_get_user_tests_and_history_count_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestStatistics"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/entity/users/get_user_tests_with_details": {"get": {"tags": ["User"], "summary": "Get User Tests With Details Endpoint", "operationId": "get_user_tests_with_details_endpoint_api_v1_entity_users_get_user_tests_with_details_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "status_history_limit", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 75, "minimum": 1, "default": 50, "title": "Status History Limit"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTestsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/entity/users/get_dashboard_metrics": {"get": {"tags": ["User"], "summary": "Get Dashboard Metrics Endpoint", "description": "Get dashboard metrics with week-over-week comparisons for tests and workflows.\n\nReturns:\nDashboardMetrics: Dashboard metrics including total tests, workflows, test runs,\n                 failing tests percentage, average duration, and their WoW comparisons", "operationId": "get_dashboard_metrics_endpoint_api_v1_entity_users_get_dashboard_metrics_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DashboardMetrics"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/entity/users/get_test_health_time_series": {"get": {"tags": ["User"], "summary": "Get Test Health Time Series Endpoint", "description": "Get time series data for test health showing passing/failing test executions over time.\nUses efficient SQL aggregation - returns weekly aggregated data for all time.\n\nReturns:\nTestHealthTimeSeries: Time series data with weekly aggregated passing/failing counts", "operationId": "get_test_health_time_series_endpoint_api_v1_entity_users_get_test_health_time_series_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestHealthTimeSeries"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/entity/users/create_cli_api_key": {"post": {"tags": ["User"], "summary": "Create Cli Api Key Endpoint", "description": "Create a long-lived API key for CLI browser-based authentication.\n\nWhen a user authenticates the CLI via the browser, this endpoint generates\na persistent PropelAuth API key so the CLI session never expires. Repeated\nbrowser logins revoke only prior keys for the same local CLI instance when\n`client_instance_id` is provided. Legacy clients without that identifier\nfall back to revoking all existing CLI-generated keys for the user.\n\nParameters:\n    auth_info: Authenticated user info injected by require_auth dependency.\n\nReturns:\n    CreateCLIApiKeyResponse containing the api_key_token and api_key_id.\n\nRaises:\n    HTTPException 500: If PropelAuth key creation or cleanup fails.", "operationId": "create_cli_api_key_endpoint_api_v1_entity_users_create_cli_api_key_post", "requestBody": {"content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/CreateCLIApiKeyRequest"}, {"type": "null"}], "title": "Request"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateCLIApiKeyResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/entity/users/revoke_cli_api_key": {"post": {"tags": ["User"], "summary": "Revoke Cli Api Key Endpoint", "description": "Revoke the current machine's browser-issued CLI API key.", "operationId": "revoke_cli_api_key_endpoint_api_v1_entity_users_revoke_cli_api_key_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RevokeCLIApiKeyRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RevokeCLIApiKeyResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/hotreload/relays": {"post": {"tags": ["hotreload"], "summary": "Create Hotreload Relay", "operationId": "create_hotreload_relay_api_v1_hotreload_relays_post", "requestBody": {"content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/HotReloadRelayCreateRequest"}, {"type": "null"}], "title": "Body"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HotReloadRelayResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/hotreload/relays/{relay_id}/heartbeat": {"post": {"tags": ["hotreload"], "summary": "Heartbeat Hotreload Relay", "operationId": "heartbeat_hotreload_relay_api_v1_hotreload_relays__relay_id__heartbeat_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "relay_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Relay Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HotReloadRelayHeartbeatResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/hotreload/relays/{relay_id}": {"delete": {"tags": ["hotreload"], "summary": "Revoke Hotreload Relay", "operationId": "revoke_hotreload_relay_api_v1_hotreload_relays__relay_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "relay_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Relay Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HotReloadRelayRevokeResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/get_test_info": {"get": {"tags": ["Tests"], "summary": "Get Test Info Endpoint", "description": "Get the test info for a specific test id\nAuthentication is required\n- Regular users can only access their own tests or tests in their organization\n- Service authentication can access any test but must specify user_id for context\n- build_id can be provided to override the build version attached to the test\n- app_id can be provided to override the app (backend resolves to current version)", "operationId": "get_test_info_endpoint_api_v1_tests_get_test_info_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Id"}}, {"name": "org_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Org Id"}}, {"name": "user_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "User Id"}}, {"name": "build_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Build Id"}}, {"name": "app_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "App Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Test"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/get_test_info_batch": {"post": {"tags": ["Tests"], "summary": "Get Test Info Batch Endpoint", "description": "Get test info for multiple test IDs in one database query.", "operationId": "get_test_info_batch_endpoint_api_v1_tests_get_test_info_batch_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BatchTestInfoRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/Test"}, "type": "array", "title": "Response Get Test Info Batch Endpoint Api V1 Tests Get Test Info Batch Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/{test_id}/cached_elements": {"put": {"tags": ["Tests"], "summary": "Update Cached Elements Endpoint", "description": "Persist cached action elements for a test, keyed by node_id, and return updated Test.", "operationId": "update_cached_elements_endpoint_api_v1_tests__test_id__cached_elements_put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CachedActionStore"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Test"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/add_task_report": {"post": {"tags": ["Tests"], "summary": "Add Task Report Endpoint", "description": "Add report metadata to test_executions table after test execution completes.\nThis is the new way to handle reports without relying on test_history.\n\n- Service authentication can add reports for any user with proper context\n- Regular users can only add their own reports", "operationId": "add_task_report_endpoint_api_v1_tests_add_task_report_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "user_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "User Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaskReportRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaskReportResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/create": {"post": {"tags": ["Tests"], "summary": "Create Test Endpoint", "description": "Create a new test using the normalized schema", "operationId": "create_test_endpoint_api_v1_tests_create_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Test"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Test"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/update/{test_id}": {"put": {"tags": ["Tests"], "summary": "Update Test Endpoint", "description": "Update an existing test using the normalized schema.\n\nSupports optimistic locking via the expected_version field:\n- If expected_version is provided and doesn't match the current version,\n  returns 409 Conflict with details about the conflict.\n- On successful update, version is incremented and a version history entry is created.", "operationId": "update_test_endpoint_api_v1_tests_update__test_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Test"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Test"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/{test_id}/versions": {"get": {"tags": ["Tests"], "summary": "Get Test Versions Endpoint", "description": "Get version history for a test.\nReturns versions in descending order (newest first).", "operationId": "get_test_versions_endpoint_api_v1_tests__test_id__versions_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "description": "Maximum number of versions to return", "default": 50, "title": "Limit"}, "description": "Maximum number of versions to return"}, {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "description": "Number of versions to skip", "default": 0, "title": "Offset"}, "description": "Number of versions to skip"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestVersionListResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/{test_id}/versions/{version}": {"get": {"tags": ["Tests"], "summary": "Get Test Version Endpoint", "description": "Get a specific version of a test.", "operationId": "get_test_version_endpoint_api_v1_tests__test_id__versions__version__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}, {"name": "version", "in": "path", "required": true, "schema": {"type": "integer", "title": "Version"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestVersionInfo"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/{test_id}/restore": {"post": {"tags": ["Tests"], "summary": "Restore Test Version Endpoint", "description": "Restore a test to a previous version.\nCreates a new version with the tasks from the specified version.", "operationId": "restore_test_version_endpoint_api_v1_tests__test_id__restore_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRestoreVersionRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestRestoreVersionResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/get_simple_tests": {"get": {"tags": ["Tests"], "summary": "Get Simple Tests Endpoint", "description": "Get a lightweight list of tests with app and tag metadata.\n\nReturns id, name, platform, app_id/app_name, and tags for each test.\nHeavier fields (resolved builds, cached elements, execution status) are\nintentionally omitted to keep the response fast for list/filter UIs.", "operationId": "get_simple_tests_endpoint_api_v1_tests_get_simple_tests_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "description": "Maximum number of tests to return", "default": 100, "title": "Limit"}, "description": "Maximum number of tests to return"}, {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "description": "Number of tests to skip", "default": 0, "title": "Offset"}, "description": "Number of tests to skip"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SimpleTestListResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/get_tests": {"get": {"tags": ["Tests"], "summary": "Query Tests Endpoint", "operationId": "query_tests_endpoint_api_v1_tests_get_tests_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 200, "minimum": 1, "default": 50, "title": "Limit"}}, {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0, "title": "Offset"}}, {"name": "search", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Search"}}, {"name": "status", "in": "query", "required": false, "schema": {"enum": ["all", "passing", "failing", "notRun"], "type": "string", "default": "all", "title": "Status"}}, {"name": "platform", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Platform"}}, {"name": "app_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string", "format": "uuid"}, {"type": "null"}], "title": "App Id"}}, {"name": "tags", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Tags"}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"enum": ["lastRun", "name", "status", "platform", "build", "duration"], "type": "string", "default": "lastRun", "title": "Sort By"}}, {"name": "sort_dir", "in": "query", "required": false, "schema": {"enum": ["asc", "desc"], "type": "string", "default": "desc", "title": "Sort Dir"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestListResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/delete/{test_id}": {"delete": {"tags": ["Tests"], "summary": "Delete Test Endpoint", "description": "Delete a test\nand its associated data\nUses the normalized schema views for consistency.", "operationId": "delete_test_endpoint_api_v1_tests_delete__test_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestDeleteResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/bulk_delete": {"post": {"tags": ["Tests"], "summary": "Bulk Delete Tests Endpoint", "description": "Bulk delete tests (soft delete).\n\nValidates access for each test and performs soft delete by setting deleted=True.\nOnly tests the user has access to will be deleted.", "operationId": "bulk_delete_tests_endpoint_api_v1_tests_bulk_delete_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkDeleteTestsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkDeleteTestsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/get_test_by_id/{test_id}": {"get": {"tags": ["Tests"], "summary": "Get Test By Id Endpoint", "operationId": "get_test_by_id_endpoint_api_v1_tests_get_test_by_id__test_id__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Test"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/{test_id}/device-target": {"patch": {"tags": ["Tests"], "summary": "Update Device Target", "description": "Update the saved device target for a test.\n\nPass a concrete device_model + os_version to pin a target, or ``null/null``\n(or ``AUTO/AUTO``) to store the ``Auto`` sentinel.", "operationId": "update_device_target_api_v1_tests__test_id__device_target_patch", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateDeviceTargetRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateDeviceTargetResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/create_enhanced_test_execution_task": {"post": {"tags": ["Tests"], "summary": "Create Enhanced Test Execution Task", "description": "Create a new enhanced test execution task record with detailed tracking.", "operationId": "create_enhanced_test_execution_task_api_v1_tests_create_enhanced_test_execution_task_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestExecutionTasksEnhancedCreate"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestExecutionTaskCreateResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/update_enhanced_test_execution_task": {"put": {"tags": ["Tests"], "summary": "Update Enhanced Test Execution Task", "description": "Update an existing enhanced test execution task with detailed tracking support.", "operationId": "update_enhanced_test_execution_task_api_v1_tests_update_enhanced_test_execution_task_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestExecutionTasksEnhancedUpdate"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestExecutionTaskUpdateResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/get_enhanced_test_execution_task": {"get": {"tags": ["Tests"], "summary": "Get Enhanced Test Execution Task", "description": "Get an enhanced test execution task status by task ID.", "operationId": "get_enhanced_test_execution_task_api_v1_tests_get_enhanced_test_execution_task_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Task Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestExecutionTasksEnhanced"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/get_test_execution_task": {"get": {"tags": ["Tests"], "summary": "Get Test Execution Task", "description": "Get a test execution task status by task ID (legacy endpoint).", "operationId": "get_test_execution_task_api_v1_tests_get_test_execution_task_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Task Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestStatusResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/status/batch": {"get": {"tags": ["Tests"], "summary": "Get Test Status Batch", "description": "Get status for multiple test executions in a single request.\n\nArgs:\n    task_ids: Comma-separated list of task IDs\n    auth_info: Authenticated user information\n\nReturns:\n    TestExecutionBatchResponse: Status information for each requested test", "operationId": "get_test_status_batch_api_v1_tests_status_batch_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_ids", "in": "query", "required": true, "schema": {"type": "string", "title": "Task Ids"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestExecutionBatchResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/get_enhanced_test_execution_tasks_batch": {"get": {"tags": ["Tests"], "summary": "Get Enhanced Test Execution Tasks Batch", "description": "Get enhanced test execution task details for multiple task IDs in a single request.", "operationId": "get_enhanced_test_execution_tasks_batch_api_v1_tests_get_enhanced_test_execution_tasks_batch_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_ids", "in": "query", "required": true, "schema": {"type": "string", "title": "Task Ids"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestExecutionTasksBatchResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/get_test_enhanced_history": {"get": {"tags": ["Tests"], "summary": "Get Test Enhanced History", "description": "Get enhanced test execution history with detailed tracking information.", "operationId": "get_test_enhanced_history_api_v1_tests_get_test_enhanced_history_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Id"}}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 20, "title": "Limit"}}, {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0, "title": "Offset"}}, {"name": "status", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Status"}}, {"name": "sort_order", "in": "query", "required": false, "schema": {"type": "string", "pattern": "^(asc|desc)$", "default": "desc", "title": "Sort Order"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestEnhancedHistoryResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/delete_test_execution/{task_id}": {"delete": {"tags": ["Tests"], "summary": "Delete Test Execution Endpoint", "description": "Delete a test execution task.\n\nAllows deletion if user has god_mode permission or Owner role in the organization.\n\nParameters:\n    task_id: The task ID of the test execution to delete\n    auth_info: Authenticated user information\n    propel_user: Optional PropelAuth user object for role checking\n\nReturns:\n    DeleteTaskResponse: Response containing deletion result\n\nRaises:\n    HTTPException: 403 if not authorized, 404 if task not found, 500 on error", "operationId": "delete_test_execution_endpoint_api_v1_tests_delete_test_execution__task_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Task Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteTaskResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/bulk_delete_test_executions": {"post": {"tags": ["Tests"], "summary": "Bulk Delete Test Executions Endpoint", "description": "Bulk delete test execution tasks.\n\nAllows deletion if user has god_mode permission or Owner role in the organization.\nThis endpoint is optimized for bulk operations with caching of access checks.\n\nParameters:\n    request: Contains list of task_ids to delete.\n    auth_info: Authenticated user information.\n    propel_user: Optional PropelAuth user object for role checking.\n\nReturns:\n    DeleteTaskResponse: Response containing deletion results with counts.\n\nRaises:\n    HTTPException: 400 if no task_ids provided, 500 on critical error.", "operationId": "bulk_delete_test_executions_endpoint_api_v1_tests_bulk_delete_test_executions_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkDeleteTestExecutionsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteTaskResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/duplicate": {"post": {"tags": ["Tests"], "summary": "Duplicate Test Endpoint", "description": "Duplicate an existing test with all its data.", "operationId": "duplicate_test_endpoint_api_v1_tests_duplicate_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DuplicateTestRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DuplicateTestResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/active_count": {"get": {"tags": ["Tests"], "summary": "Get active test count for organization", "description": "Count active (running/queued) tests for an organization. Used for concurrency limit enforcement.", "operationId": "get_active_test_count_api_v1_tests_active_count_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "org_id", "in": "query", "required": true, "schema": {"type": "string", "format": "uuid", "description": "Organization ID to count active tests for", "title": "Org Id"}, "description": "Organization ID to count active tests for"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ActiveTestCountResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/yaml/from-blocks": {"post": {"tags": ["YAML Operations"], "summary": "Create Test From Blocks", "description": "V2 API: Create test from blocks using Phase 1 services\n\nThis endpoint uses the new backend-first architecture:\n- Uses TestCreationService for orchestration\n- Integrates with existing converters\n- Provides clean error handling", "operationId": "create_test_from_blocks_api_v1_tests_yaml_from_blocks_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlocksCreationRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TestCreationResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/yaml/from-yaml": {"post": {"tags": ["YAML Operations", "public"], "summary": "Create Test From Yaml", "description": "V2 API: Create or update test from YAML\n\nThis endpoint provides YAML-to-test creation with upsert logic:\n- If test with same name exists in org: Updates it\n- If not: Creates new test\n- Validates YAML structure\n- Resolves build configuration\n- Infers platform from build if not provided", "operationId": "create_test_from_yaml_api_v1_tests_yaml_from_yaml_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/YamlCreationRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YamlCreationResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/yaml/conversion/blocks-to-yaml": {"post": {"tags": ["YAML Operations"], "summary": "Convert Blocks To Yaml", "description": "V2 API: Convert blocks to YAML using Phase 1 services\n\nUses BidirectionalConversionService which wraps the existing\nBlockToYamlConverter for consistent conversion.", "operationId": "convert_blocks_to_yaml_api_v1_tests_yaml_conversion_blocks_to_yaml_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlocksToYamlRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConversionResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/yaml/conversion/yaml-to-blocks": {"post": {"tags": ["YAML Operations"], "summary": "Convert Yaml To Blocks", "description": "V2 API: Convert YAML to blocks using Phase 1 services\n\nUses BidirectionalConversionService which wraps the existing\nYamlToBlockConverter for consistent conversion.", "operationId": "convert_yaml_to_blocks_api_v1_tests_yaml_conversion_yaml_to_blocks_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/YamlToBlocksRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConversionResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/scripts": {"get": {"tags": ["Code Execution Scripts"], "summary": "List Scripts", "description": "List all scripts accessible to the user (own scripts + org scripts).", "operationId": "list_scripts_api_v1_tests_scripts_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 1000, "minimum": 1, "description": "Maximum number of scripts to return", "default": 100, "title": "Limit"}, "description": "Maximum number of scripts to return"}, {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "description": "Number of scripts to skip", "default": 0, "title": "Offset"}, "description": "Number of scripts to skip"}, {"name": "runtime", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "description": "Filter by runtime (python, javascript, typescript, bash)", "title": "Runtime"}, "description": "Filter by runtime (python, javascript, typescript, bash)"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CodeExecutionScriptListResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "post": {"tags": ["Code Execution Scripts"], "summary": "Create Script", "description": "Create a new script.", "operationId": "create_script_api_v1_tests_scripts_post", "security": [{"HTTPBearer": []}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CodeExecutionScriptCreate"}}}}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CodeExecutionScript"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/scripts/{script_id}/tests": {"get": {"tags": ["Code Execution Scripts"], "summary": "Get Script Usage", "description": "Get all tests that use a specific script.", "operationId": "get_script_usage_api_v1_tests_scripts__script_id__tests_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "script_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Script Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ScriptUsageResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/scripts/{script_id}": {"get": {"tags": ["Code Execution Scripts"], "summary": "Get Script", "description": "Get a specific script by ID.\nUser must own the script or be in the same org.", "operationId": "get_script_api_v1_tests_scripts__script_id__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "script_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Script Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CodeExecutionScript"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "put": {"tags": ["Code Execution Scripts"], "summary": "Update Script", "description": "Update an existing script.\nUser must own the script or be in the same org.", "operationId": "update_script_api_v1_tests_scripts__script_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "script_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Script Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CodeExecutionScriptUpdate"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CodeExecutionScript"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"tags": ["Code Execution Scripts"], "summary": "Delete Script", "description": "Delete a script.\nUser must own the script or be in the same org.", "operationId": "delete_script_api_v1_tests_scripts__script_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "script_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Script Id"}}], "responses": {"204": {"description": "Successful Response"}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/tags": {"get": {"tags": ["Tags"], "summary": "List Tags", "description": "Get all tags for the organization with usage counts.\nSorted by usage count (most used first).", "operationId": "list_tags_api_v1_tests_tags_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TagListResponse"}}}}}, "security": [{"HTTPBearer": []}]}, "post": {"tags": ["Tags"], "summary": "Create Tag", "description": "Create a new tag using the existing upsert_tag RPC function.\nIf tag with same name exists, returns the existing tag.", "operationId": "create_tag_api_v1_tests_tags_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateTagRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TagResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/tags/tests/{test_id}/sync": {"post": {"tags": ["Tags"], "summary": "Sync Test Tags", "description": "Sync tags for a test by name.\n- Creates any tags that don't exist\n- Associates all provided tags with the test\n- Removes any tags not in the list\n\nThis is the primary endpoint for the seamless tagging UX.", "operationId": "sync_test_tags_api_v1_tests_tags_tests__test_id__sync_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SyncTagsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SyncTagsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/tags/tests/bulk-sync": {"post": {"tags": ["Tags"], "summary": "Bulk Sync Test Tags", "description": "Bulk sync tags for multiple tests.\n- Adds specified tags to all tests (creates tags if needed)\n- Removes specified tags from all tests\n\nThis is optimized for bulk operations using batch database operations.", "operationId": "bulk_sync_test_tags_api_v1_tests_tags_tests_bulk_sync_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkSyncTagsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkSyncTagsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/tests/tags/tests/{test_id}": {"get": {"tags": ["Tags"], "summary": "Get Test Tags", "description": "Get all tags for a specific test.", "operationId": "get_test_tags_api_v1_tests_tags_tests__test_id__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/TagResponse"}, "title": "Response Get Test Tags Api V1 Tests Tags Tests  Test Id  Get"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/tests/tags/{tag_id}": {"patch": {"tags": ["Tags"], "summary": "Update Tag", "description": "Update a tag (rename, change color, update description).\nChanges apply globally to all tests using this tag.\n\nRaises 409 Conflict if renaming to a name that already exists.", "operationId": "update_tag_api_v1_tests_tags__tag_id__patch", "security": [{"HTTPBearer": []}], "parameters": [{"name": "tag_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Tag Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateTagRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TagResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"tags": ["Tags"], "summary": "Delete Tag", "description": "Delete a tag. Automatically removes from all tests (CASCADE).", "operationId": "delete_tag_api_v1_tests_tags__tag_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "tag_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Tag Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "title": "Response Delete Tag Api V1 Tests Tags  Tag Id  Delete"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/custom/add": {"post": {"tags": ["Custom Variables"], "summary": "Add Variable Endpoint", "description": "Add a new variable to the variable table", "operationId": "add_variable_endpoint_api_v1_variables_custom_add_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/VariableModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VariableResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/variables/custom/read_variables": {"get": {"tags": ["Custom Variables"], "summary": "Read Variables Endpoint", "description": "Retrieve all variables (including their unique IDs) associated with a specific test ID", "operationId": "read_variables_endpoint_api_v1_variables_custom_read_variables_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_uid", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Uid"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VariablesResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/custom/delete": {"delete": {"tags": ["Custom Variables"], "summary": "Delete Variable Endpoint", "description": "Delete a variable for a specific test", "operationId": "delete_variable_endpoint_api_v1_variables_custom_delete_delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_uid", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Uid"}}, {"name": "variable_name", "in": "query", "required": true, "schema": {"type": "string", "title": "Variable Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VariablesResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/custom/check_exists": {"get": {"tags": ["Custom Variables"], "summary": "Check Variable Exists Endpoint", "description": "Check if a specific variable exists in the variable table for a given test_uid", "operationId": "check_variable_exists_endpoint_api_v1_variables_custom_check_exists_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Test Id"}}, {"name": "variable_name", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Variable Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CheckVariableExistsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/custom/get_value": {"get": {"tags": ["Custom Variables"], "summary": "Get Variable Value Endpoint", "description": "Retrieve the value of a specific variable associated with a test ID", "operationId": "get_variable_value_endpoint_api_v1_variables_custom_get_value_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_uid", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Uid"}}, {"name": "variable_name", "in": "query", "required": true, "schema": {"type": "string", "title": "Variable Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetVariableValueResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/custom/update/{variable_id}": {"put": {"tags": ["Custom Variables"], "summary": "Update Variable Endpoint", "description": "Update a variable's name using its stable unique ID.", "operationId": "update_variable_endpoint_api_v1_variables_custom_update__variable_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "variable_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Variable Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateVariableNameModel"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VariableResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/custom/update_value": {"put": {"tags": ["Custom Variables"], "summary": "Update Variable Value Endpoint", "description": "Update a variable's value using its name for a specific test.", "operationId": "update_variable_value_endpoint_api_v1_variables_custom_update_value_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateVariableValueModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VariableResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/variables/custom/delete_all": {"delete": {"tags": ["Custom Variables"], "summary": "Delete All Variables Endpoint", "description": "Delete all variables for a specific test", "operationId": "delete_all_variables_endpoint_api_v1_variables_custom_delete_all_delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_uid", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Uid"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VariablesResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/org_launch_env": {"get": {"tags": ["Org Launch Environment Variables"], "summary": "List Org Launch Env Vars", "operationId": "list_org_launch_env_vars_api_v1_variables_org_launch_env_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarsResponse"}}}}}, "security": [{"HTTPBearer": []}]}, "post": {"tags": ["Org Launch Environment Variables"], "summary": "Add Org Launch Env Var", "operationId": "add_org_launch_env_var_api_v1_variables_org_launch_env_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarCreate"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/variables/org_launch_env/test-attachments": {"get": {"tags": ["Org Launch Environment Variables"], "summary": "List Test Launch Env Var Attachments", "operationId": "list_test_launch_env_var_attachments_api_v1_variables_org_launch_env_test_attachments_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "post": {"tags": ["Org Launch Environment Variables"], "summary": "Attach Test Launch Env Var", "operationId": "attach_test_launch_env_var_api_v1_variables_org_launch_env_test_attachments_post", "security": [{"HTTPBearer": []}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarAttachRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"tags": ["Org Launch Environment Variables"], "summary": "Detach Test Launch Env Var", "operationId": "detach_test_launch_env_var_api_v1_variables_org_launch_env_test_attachments_delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Id"}}, {"name": "env_var_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Env Var Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "put": {"tags": ["Org Launch Environment Variables"], "summary": "Replace Test Launch Env Var Attachments", "operationId": "replace_test_launch_env_var_attachments_api_v1_variables_org_launch_env_test_attachments_put", "security": [{"HTTPBearer": []}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReplaceTestLaunchEnvVarRefsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/org_launch_env/{env_var_id}": {"put": {"tags": ["Org Launch Environment Variables"], "summary": "Update Org Launch Env Var", "operationId": "update_org_launch_env_var_api_v1_variables_org_launch_env__env_var_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "env_var_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Env Var Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarUpdate"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"tags": ["Org Launch Environment Variables"], "summary": "Delete Org Launch Env Var", "operationId": "delete_org_launch_env_var_api_v1_variables_org_launch_env__env_var_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "env_var_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Env Var Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrgLaunchEnvVarDeleteResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/global": {"get": {"tags": ["Global Variables"], "summary": "List Global Variables", "description": "List all global variables for the caller's organization.", "operationId": "list_global_variables_api_v1_variables_global_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GlobalVariablesResponse"}}}}}, "security": [{"HTTPBearer": []}]}, "post": {"tags": ["Global Variables"], "summary": "Add Global Variable", "description": "Create a new global variable for the caller's organization.", "operationId": "add_global_variable_api_v1_variables_global_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GlobalVariableCreate"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GlobalVariableResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/variables/global/by-name/{variable_name}": {"put": {"tags": ["Global Variables"], "summary": "Update Global Variable Value By Name", "description": "Set the value of a non-secret global variable by name.\n\nUsed by test-execution writers (script + extraction blocks) that assign\ninto a pre-existing global. Returns 404 if the variable does not exist\nin the caller's organization, and 403 if it is marked is_secret.", "operationId": "update_global_variable_value_by_name_api_v1_variables_global_by_name__variable_name__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "variable_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Variable Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GlobalVariableValueUpdate"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GlobalVariableResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/global/{variable_id}": {"put": {"tags": ["Global Variables"], "summary": "Update Global Variable", "description": "Update an existing global variable.", "operationId": "update_global_variable_api_v1_variables_global__variable_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "variable_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Variable Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GlobalVariableUpdate"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GlobalVariableResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"tags": ["Global Variables"], "summary": "Delete Global Variable", "description": "Delete a global variable.", "operationId": "delete_global_variable_api_v1_variables_global__variable_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "variable_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "title": "Variable Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GlobalVariableResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/variables/global/resolve": {"get": {"tags": ["Global Variables"], "summary": "Resolve Variables", "description": "Return merged local + global variables for a test, with local-wins priority.", "operationId": "resolve_variables_api_v1_variables_global_resolve_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_uid", "in": "query", "required": true, "schema": {"type": "string", "title": "Test Uid"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResolvedVariablesResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/report/async-run/generate_shareable_report_link": {"post": {"tags": ["Async Test Report"], "summary": "Generate Shareable Report Link", "description": "Generate a shareable report link for a test execution\n- Authentication required but no user-specific authorization\n- Shareable links use token-based security model", "operationId": "generate_shareable_report_link_api_v1_report_async_run_generate_shareable_report_link_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/report/async-run/generate_shareable_report_link_by_task": {"post": {"tags": ["Async Test Report"], "summary": "Generate Shareable Report Link By Task", "description": "Generate a shareable report link using only a task_id.\nLooks up the corresponding test_id for the provided task_id and creates\na tokenized public link identical in behavior to generate_shareable_report_link.", "operationId": "generate_shareable_report_link_by_task_api_v1_report_async_run_generate_shareable_report_link_by_task_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportByTaskModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/report/async-run/shareable_report_link_by_task": {"get": {"tags": ["Async Test Report"], "summary": "Get Shareable Report Link By Task", "operationId": "get_shareable_report_link_by_task_api_v1_report_async_run_shareable_report_link_by_task_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Task Id"}}, {"name": "origin", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Origin"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportStatusResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/report/async-run/shareable_report_link_by_task/{task_id}": {"delete": {"tags": ["Async Test Report"], "summary": "Delete Shareable Report Link By Task", "operationId": "delete_shareable_report_link_by_task_api_v1_report_async_run_shareable_report_link_by_task__task_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Task Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportStatusResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/report/async-run/generate_shareable_report_link_by_session": {"post": {"tags": ["Async Test Report"], "summary": "Generate Shareable Report Link By Session", "description": "Generate a shareable report link for a device session.\n\nValidates org ownership via device_sessions, then upserts into\nshareable_session_reports and returns a token-only public URL.\n\nArgs:\n    payload: Contains session_id, optional origin and expiration_hours.\n    request: The incoming HTTP request.\n    auth_info: Authenticated caller context.\n\nReturns:\n    ShareableReportResponse with the generated link.\n\nRaises:\n    HTTPException: 400 if session_id missing, 404 if session not found.", "operationId": "generate_shareable_report_link_by_session_api_v1_report_async_run_generate_shareable_report_link_by_session_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportBySessionModel"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/report/async-run/shareable_report_link_by_session": {"get": {"tags": ["Async Test Report"], "summary": "Get Shareable Report Link By Session", "description": "Check whether a shareable link exists for a device session.\n\nArgs:\n    session_id: The device session UUID.\n    request: The incoming HTTP request.\n    origin: Unused, kept for parity with the task variant.\n    auth_info: Authenticated caller context.\n\nReturns:\n    ShareableReportStatusResponse indicating enabled/disabled + link.\n\nRaises:\n    HTTPException: 400 if session_id missing, 404 if session not found.", "operationId": "get_shareable_report_link_by_session_api_v1_report_async_run_shareable_report_link_by_session_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "session_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Session Id"}}, {"name": "origin", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Origin"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportStatusResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/report/async-run/shareable_report_link_by_session/{session_id}": {"delete": {"tags": ["Async Test Report"], "summary": "Delete Shareable Report Link By Session", "description": "Revoke the shareable link for a device session.\n\nArgs:\n    session_id: The device session UUID.\n    auth_info: Authenticated caller context.\n\nReturns:\n    ShareableReportStatusResponse with enabled=False.\n\nRaises:\n    HTTPException: 400 if session_id missing, 404 if session not found.", "operationId": "delete_shareable_report_link_by_session_api_v1_report_async_run_shareable_report_link_by_session__session_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "session_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Session Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShareableReportStatusResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/report/async-run/unified-report-optimized": {"post": {"tags": ["Async Test Report"], "summary": "Get Unified Report Optimized", "description": "Unified endpoint that handles both public (token-based) and internal (auth-based) report access.\n\nPublic access modes:\n- testId + token: Look up shareable_reports by test_id\n- taskId + token: Look up shareable_reports by task_id (for workflow child tests)\n\nInternal access mode:\n- taskId (with auth): Direct access for authenticated users", "operationId": "get_unified_report_optimized_api_v1_report_async_run_unified_report_optimized_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnifiedReportRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SharedReportOptimizedResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/report/async-run/workflow_tasks_report_batch": {"post": {"tags": ["Async Test Report"], "summary": "Get Workflow Tasks Report Batch", "description": "Get enriched task info for workflow report cards.\n\nThis endpoint fetches task info for use in workflow report cards.", "operationId": "get_workflow_tasks_report_batch_api_v1_report_async_run_workflow_tasks_report_batch_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowTasksReportBatchRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowTasksReportBatchResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/report/async-run/video-metadata-batch": {"post": {"tags": ["Async Test Report"], "summary": "Get Video Metadata Batch", "description": "Lightweight batch endpoint for video + step metadata.\n\nOptimized for replay mode - only returns video URL and step timeline data,\nskipping images and full report content. Much faster than N individual calls\nto the full report endpoint.", "operationId": "get_video_metadata_batch_api_v1_report_async_run_video_metadata_batch_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/VideoMetadataBatchRequestV1"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VideoMetadataBatchResponseV1"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/report/async-run/training-image": {"post": {"tags": ["Async Test Report"], "summary": "Upload Training Image", "description": "Record a grounding correction for a step.\n\nInstead of uploading a new image, looks up the existing\nscreenshot_before_s3_key from report_actions and stores it directly.", "operationId": "upload_training_image_api_v1_report_async_run_training_image_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TrainingImageUploadRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TrainingImageUploadResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/report/evals/run_eval": {"post": {"tags": ["Eval"], "summary": "Run Eval", "description": "Run a comprehensive evaluation on a test execution.\n\nThis endpoint uses per-step Hatchet workflows to bound gRPC message sizes.\nEach step is evaluated independently (~1-5MB) instead of sending the entire\nreport (~50MB).\n\nArgs:\n    request: EvalRequest containing task_id and enabled_judges config\n    auth_info: Authentication info from dependency\n\nReturns:\n    EvalResponse with the evaluation report or error", "operationId": "run_eval_api_v1_report_evals_run_eval_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/EvalRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EvalResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/report/evals/eval_stream/{task_id}": {"get": {"tags": ["Eval"], "summary": "Stream Eval Progress", "description": "Stream eval progress updates via Server-Sent Events (SSE).\n\nThe frontend should open this connection before calling run_eval\nto receive real-time progress updates.", "operationId": "stream_eval_progress_api_v1_report_evals_eval_stream__task_id__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Task Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/storage/s3/delete/{bucket_name}/{file_key}": {"delete": {"tags": ["S3"], "summary": "Delete From S3", "description": "Delete a file from S3", "operationId": "delete_from_s3_api_v1_storage_s3_delete__bucket_name___file_key__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Bucket Name"}}, {"name": "file_key", "in": "path", "required": true, "schema": {"type": "string", "title": "File Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/S3DeleteResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/storage/s3/presigned-url/{bucket_name}/{file_key}": {"get": {"tags": ["S3"], "summary": "Get Presigned Url", "description": "Generate a pre-signed URL for an S3 object", "operationId": "get_presigned_url_api_v1_storage_s3_presigned_url__bucket_name___file_key__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Bucket Name"}}, {"name": "file_key", "in": "path", "required": true, "schema": {"type": "string", "title": "File Key"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/S3PresignedUrlResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/storage/s3/presigned-urls/{bucket_name}": {"post": {"tags": ["S3"], "summary": "Get Presigned Urls", "description": "Generate pre-signed URLs for a batch of S3 objects.", "operationId": "get_presigned_urls_api_v1_storage_s3_presigned_urls__bucket_name__post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Bucket Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/S3PresignedUrlsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/S3PresignedUrlsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/storage/s3/buckets": {"get": {"tags": ["S3"], "summary": "List Allowed Buckets", "description": "List all allowed buckets and their file type patterns", "operationId": "list_allowed_buckets_api_v1_storage_s3_buckets_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/S3BucketsResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/storage/s3/upload": {"post": {"tags": ["S3"], "summary": "Upload To S3", "description": "Upload a file to S3 and return a pre-signed URL", "operationId": "upload_to_s3_api_v1_storage_s3_upload_post", "requestBody": {"content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/Body_upload_to_s3_api_v1_storage_s3_upload_post"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/S3UploadResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/workflows/create": {"post": {"tags": ["Workflows"], "summary": "Create Workflow", "description": "Create a new workflow", "operationId": "create_workflow_api_v1_workflows_create_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowData"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateWorkflowResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/v1/workflows/update_full/{workflow_id}": {"put": {"tags": ["Workflows"], "summary": "Update Workflow Full", "description": "Update an existing workflow with full workflow data", "operationId": "update_workflow_full_api_v1_workflows_update_full__workflow_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowData"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateWorkflowResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/delete/{workflow_id}": {"delete": {"tags": ["Workflows"], "summary": "Delete Workflow Endpoint", "description": "Soft delete a workflow by setting the deleted flag to True", "operationId": "delete_workflow_endpoint_api_v1_workflows_delete__workflow_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteWorkflowResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/get_task_status": {"get": {"tags": ["Workflows"], "summary": "Get Workflow Task Status", "description": "Retrieve the status of a workflow task.", "operationId": "get_workflow_task_status_api_v1_workflows_get_task_status_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Task Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetWorkflowTaskStatusResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/get_with_last_status": {"get": {"tags": ["Workflows"], "summary": "Get Workflows With Last Status", "description": "Get workflows with their last execution status and metadata for workflow cards.", "operationId": "get_workflows_with_last_status_api_v1_workflows_get_with_last_status_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 200, "minimum": 1, "default": 100, "title": "Limit"}}, {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0, "title": "Offset"}}, {"name": "history_limit", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 50, "minimum": 1, "default": 10, "title": "History Limit"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetWorkflowsWithLastStatusResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/get_detail/{workflow_id}": {"get": {"tags": ["Workflows"], "summary": "Get Workflow Detail", "description": "Get enriched workflow data for detail view including:\n- Complete workflow info\n- Test details with last execution status\n- Full execution history\n- Settings and configuration\n\nOptimized: Single SQL query replaces 10+ sequential Supabase calls.", "operationId": "get_workflow_detail_api_v1_workflows_get_detail__workflow_id__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 200, "minimum": 1, "default": 20, "title": "Limit"}}, {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0, "title": "Offset"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetWorkflowDetailResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/get_info/{workflow_id}": {"get": {"tags": ["Workflows"], "summary": "Get Workflow Info Lightweight", "description": "Get lightweight workflow info for report pages.\n\nReturns basic workflow data + test info (names, platforms) only.\nMuch faster than get_detail as it skips metrics/charts/execution history.\n\nUse this endpoint when you only need test names and platforms (e.g., report pages).\nUse get_detail when you need full metrics, charts, and execution history.", "operationId": "get_workflow_info_lightweight_api_v1_workflows_get_info__workflow_id__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/update_tests/{workflow_id}": {"put": {"tags": ["Workflows"], "summary": "Update Workflow Tests", "description": "Update the test list for a workflow (batch update)", "operationId": "update_workflow_tests_api_v1_workflows_update_tests__workflow_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "array", "items": {"type": "string", "format": "uuid"}, "title": "Test Ids"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/get_workflow_info": {"get": {"tags": ["Workflows"], "summary": "Get Workflow Info Endpoint", "description": "Get the workflow info for a specific workflow id.\nIncludes quarantined_test_ids for execution quarantine support.", "operationId": "get_workflow_info_endpoint_api_v1_workflows_get_workflow_info_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/update_name/{workflow_id}": {"put": {"tags": ["Workflows"], "summary": "Update Workflow Name", "description": "Update the name of a workflow", "operationId": "update_workflow_name_api_v1_workflows_update_name__workflow_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateWorkflowNameRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowUpdateResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/update_run_config/{workflow_id}": {"put": {"tags": ["Workflows"], "summary": "Update Workflow Run Config", "description": "Update the run configuration of a workflow", "operationId": "update_workflow_run_config_api_v1_workflows_update_run_config__workflow_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateWorkflowRunConfigRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowUpdateResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/update_build_config/{workflow_id}": {"put": {"tags": ["Workflows"], "summary": "Update Workflow Build Config", "description": "Update the build configuration of a workflow", "operationId": "update_workflow_build_config_api_v1_workflows_update_build_config__workflow_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateWorkflowBuildConfigRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowUpdateResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/update_location_config/{workflow_id}": {"put": {"tags": ["Workflows"], "summary": "Update Workflow Location Config", "description": "Update the location configuration of a workflow", "operationId": "update_workflow_location_config_api_v1_workflows_update_location_config__workflow_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateWorkflowLocationConfigRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowUpdateResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/update_timeout_config/{workflow_id}": {"put": {"tags": ["Workflows"], "summary": "Update Workflow Timeout Config", "description": "Update the per-test execution timeout for a workflow.", "operationId": "update_workflow_timeout_config_api_v1_workflows_update_timeout_config__workflow_id__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateWorkflowTimeoutConfigRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowUpdateResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/delete_workflow_task/{task_id}": {"delete": {"tags": ["Workflows"], "summary": "Delete Workflow Task Endpoint", "description": "Delete a workflow task and all associated test executions.\n\nAllows deletion if user has god_mode permission or Owner role in the organization.", "operationId": "delete_workflow_task_endpoint_api_v1_workflows_delete_workflow_task__task_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "task_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Task Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteTaskResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/get_by_test/{test_id}": {"get": {"tags": ["Workflows"], "summary": "Get Workflows For Test", "description": "Get workflows that contain a specific test in their tests array.", "operationId": "get_workflows_for_test_api_v1_workflows_get_by_test__test_id__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "test_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Test Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowsForTestResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/workflow/{workflow_id}/test_matrix": {"get": {"tags": ["Workflows", "Workflows", "public"], "summary": "Get Workflow Test Matrix", "description": "Return a test \u00d7 workflow-run matrix. Columns are workflow executions.", "operationId": "get_workflow_test_matrix_api_v1_workflows_workflow__workflow_id__test_matrix_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}, {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1, "title": "Page"}}, {"name": "page_size", "in": "query", "required": false, "schema": {"type": "integer", "maximum": 50, "minimum": 2, "default": 10, "title": "Page Size"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/workflow/{workflow_id}/tests": {"get": {"tags": ["Workflows", "Workflows", "public"], "summary": "Get Workflow Tests With Policy", "description": "Return workflow_tests rows with failure_policy and test metadata.", "operationId": "get_workflow_tests_with_policy_api_v1_workflows_workflow__workflow_id__tests_get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "workflow_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Workflow Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/v1/workflows/workflow-tests/{workflow_test_id}": {"patch": {"tags": ["Workflows", "Workflows", "public"], "summary": "Update Workflow Test Failure Policy", "description": "Update failure_policy for a single workflow-test 
[...]
